
body {
  background-color: #dceacb;
}

.bienvenida {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.titulo {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.card-opcion {
  cursor: pointer;
  transition: transform 0.2s;
}

.card-opcion:hover {
  transform: scale(1.05);
}

.card-opcion img {
  height: 350px;
  object-fit: contain;
}

.img-foro {
  height: 200px;
  width: 200px;
}
