<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi información</title>
  <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../styles/userStyles/estado_cuenta.css" rel="stylesheet" />
</head>

<body>
  
  <div class="container py-5">
    <div class="body_contenido mx-auto text-center position-relative" style="max-width: 1300px;">
      <div class="titulo">Estado de Cuenta</div>

      <div class="saldo d-flex justify-content-between align-items-center">
        <span class="text-start">Saldo actual:</span>
        <span class="text-end">$640</span>
      </div>
      <div id="contenedor-movimientos" class="mt-4"></div>

    </div>
  </div>

  <script src="../../js/generalJS/estado_cuentaJS/tarjetas.js"></script>
</body>
</html>
