<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi información</title>
  <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../styles/userStyles/estado_cuenta.css" rel="stylesheet" />
</head>

<body>
  
  <div class="container py-5">
    <div class="body_contenido mx-auto text-center position-relative" style="max-width: 1300px;">
      <div class="titulo">Estado de Cuenta</div>

      <div>

<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae recusandae quo totam magnam asperiores, impedit modi itaque fugiat corrupti sint harum nesciunt adipisci praesentium error architecto, neque quam corporis commodi!</h1>

      </div>

      


  

    </div>
  </div>

  <script src="../../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
