<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi información</title>
  <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../styles/userStyles/solicitar_espacio.css" rel="stylesheet" />
</head>

<body>
  
  <div class="container py-5">
    <div class="body_contenido mx-auto text-center position-relative" style="max-width: 1300px;">
      <div class="titulo">Solicitud de Espacio</div>

      <h2 class ="mt-4">Seleccione el espacio que desea reservar</h2>

      <div class="row mt-5 g-4 justify-content-center">
        
        <div class="col-12 col-md-4">

          <div class="text-center">
            <!-- Imagen -->
            <img src="../../assets/pics/image_alberca.jpg" class="img-fluid mb-2 img_espacio" alt="Imagen de ejemplo">
          
            <!-- Texto -->
            <p class="mb-2 fs-4">Reservar Alberca</p>
          
            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" id="checkbox_alberca" style="transform: scale(2); width: 20px; height: 20px;">
              <label class="form-check-label ms-2" for="checkbox_alberca"></label>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-4">

          <div class="text-center">
            <!-- Imagen -->
            <img src="../../assets/pics/image_palapa.jpg" class="img-fluid mb-2 img_espacio" alt="Imagen de ejemplo">
          
            <!-- Texto -->
            <p class="mb-2 fs-4">Reservar Palapa</p>
          
            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" id="checkbox_palapa" style="transform: scale(2); width: 20px; height: 20px;">
              <label class="form-check-label ms-2" for="checkbox_palapa"></label>
            </div>
          </div>

        </div>


      
    </div> <!-- Fin de la fila -->
    <a href="../userTemplates/calendario_espacio.html" class="text-decoration-none text-dark">
    <button type="button" class="btn btn-primary mt-4" id="btn_solicitar_espacio">Solicitar Fecha</button>

    </a>


  

    </div>
  </div>

  <script src="../../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
