<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mi información</title>
  <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../styles/generalStyles/mi_informacion.css" rel="stylesheet" />
</head>

<body>
  
  <div class="container py-5">
    <div class="body_contenido mx-auto text-center position-relative" style="max-width: 1300px;">
      <div class="titulo">Mi Informacion</div>

      
      <form class="form_informacion">
        <div class="mb-3 d-flex align-items-center">
          <label for="rfc" class="form-label col-2">RFC:</label>
          <input type="text" id="rfc" class="form-control me-2" value="LELELO231231231" readonly />
        </div>

        <div class="mb-3 d-flex align-items-center">
          <label for="nombre" class="form-label col-2">Nombre:</label>
          <input type="text" id="nombre" class="form-control me-2"value="Letre Letroso Lorena" readonly/>
          <img src="../../assets/pics/icon_modificar.png" alt="editar" class="edit-icon btn-opcion" onclick="modificarNombreModal()" />
        </div>



        <div class="mb-4 d-flex align-items-center">
          <label for="telefono" class="form-label col-2">Teléfono:</label>
          <input type="tel" id="telefono" class="form-control me-2" value="2294175541" readonly/>
          <img src="../../assets/pics/icon_modificar.png" alt="editar" class="edit-icon btn-opcion" onclick="modificarTelefonoModal()" />
        </div>

        <div class="d-flex gap-2 justify-content-center">
          <button type="submit" class="btn btn-primary px-4">Aceptar</button>
          <button type="button" class="btn btn-danger px-4" onclick="modificarContrasenaModal()">Cambiar Contraseña</button>
        </div>
      </form>

  

    </div>
  </div>

  <script src="../../../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../js/generalJS/mi_informacionJS/modificarNombreModal.js"></script>
  <script src="../../js/generalJS/mi_informacionJS/modificarTelefonoModal.js"></script>
  <script src="../../js/generalJS/mi_informacionJS/modificarContrasenaModal.js"></script>
</body>
</html>
